body {
	background-color: #66A3D2;
	color: #FFCD00;
	font-size: 2em;
	padding-top: 15px;
}

a:link {color:#FFF3C2;} /*a normal, unvisited link*/
a:visited {color:#FFF3C2;}  /* visited link */
a:hover {color:#FFF3C2;text-decoration:underline;} /*a link when the user mouses over it*/
a:active {color:#FFF3C2;text-decoration:underline;} /*a link the moment it is clicked*/

.num-pad {
	max-width: 750px;
	margin: 0 auto;
}

.btn-holder{
	padding: 20px 10px 0 10px;
	 max-width:250px;
}

.metronome {
	border-radius: 100%;
	width: 65px;
	height: 65px;
}

.credit {
	padding-top: 20px;
}

:focus{
	background-color: #FFCD00;
	color: #66A3D2;
	padding: 0 5px 0 5px;
}

select {
	background-color: #FFCD00;
	color: #66A3D2;
	padding: 0 5px 0 5px;
}

.off {
	background-color: gray;
}

.flashOn {
	background-color: #FFCD00;
}

.chord {
	padding-right: 10%;
}

.active {
	font-size: 40vh;
}

.inactive {
	margin-top: 20px;
	vertical-align: 320%;

}

.top-info {
	padding-left: 80px;
}

.chord-viewer {
	white-space: nowrap;
}

.play-stop {
	height: 65px;
}

.time-stat {
	white-space: nowrap;
}