<div ng-controller="roomPickerCtrl" class="num-pad">
	<h2>Enter a 4-digit room: {{roomNumber.join('')}}</h2>
	<div class="row">
		<button ng-click="addNum(1)" type="button" class="btn-primary col-xs-3">1</button>
		<button ng-click="addNum(2)" type="button" class="btn-primary col-xs-3">2</button>
		<button ng-click="addNum(3)" type="button" class="btn-primary col-xs-3">3</button>
	</div>
	<div class="row">
		<button ng-click="addNum(4)" type="button" class="btn-primary col-xs-3">4</button>
		<button ng-click="addNum(5)" type="button" class="btn-primary col-xs-3">5</button>
		<button ng-click="addNum(6)" type="button" class="btn-primary col-xs-3">6</button>
	</div>
	<div class="row">
		<button ng-click="addNum(7)" type="button" class="btn-primary col-xs-3">7</button>
		<button ng-click="addNum(8)" type="button" class="btn-primary col-xs-3">8</button>
		<button ng-click="addNum(9)" type="button" class="btn-primary col-xs-3">9</button>
	</div>
	<div class="row">
		<button ng-click="deleteNum()" type="button" class="btn-warning col-xs-3">Del</button>
		<button ng-click="addNum(0)" type="button" class="btn-primary col-xs-3">0</button>
		<button ng-click="clearNum()" type="button" class="btn-danger col-xs-3">Clear</button>
	</div>
</div>