body {
	background-color: #66A3D2;
	color: #FFCD00;
	font-size: 2em;
	padding-top: 15px;
}

a:link {color:#FFCD00; text-decoration:underline;} /*a normal, unvisited link*/
a:visited {color:#FFCD00;text-decoration:underline;}  /* visited link */
a:hover {color:#BDB76B;text-decoration:underline;} /*a link when the user mouses over it*/
a:active {color:#FFCD00;text-decoration:underline;} /*a link the moment it is clicked*/

.metronome {
	border-radius: 100%;
	width: 50px;
	height: 50px;
}

.off {
	background-color: gray;
}

.flashOn {
	background-color: #FFCD00;
}

.active {
	font-size: 5.5em;
	margin-top: 25px;
}

.inactive {
	margin-top: 80px;
}

.top-info {
	padding-left: 80px;
}

.chord-viewer {
	height: 200px;
}
