<div>
	<div class = "row">
		<div class = "top-info play-controls col-xs-4">
			<button type="button" class="btn-block {{jamInfo.playStatus}} play-stop" ng-click="togglePlay()" ng-disabled="{{jamInfo.disconnected}}">Play / Stop</button>
		</div>
		<div class = "top-info time-stat col-xs-4 col-sm-offset-1">
			BPM: 
			<select ng-model="jamInfo.bpm" value="90" ng-options="bpm for bpm in bpmOptions" ng-change="change()"></select>
			<br>
			<p>4/4 Time</p>
		</div>
		<div class = "top-info col-xs-3">
			<div class = "metronome {{metronomeLight}}"></div>
		</div>
	</div>

	<div class="row">
		<div class="chord-viewer text-center col-xs-12">
			<span class="chord {{chord.status}}" ng-repeat="chord in chordProgression">{{chord.name}}</span>
			
		</div>
	</div>
</div>